<div class="section">
    {if:error}
    <p class="flow-text center red-text text-lighten-2">{error}</p>
    {endif}
    <div class="row">
        {loop:links}
        <div class="col s12 m6">
            <div class="card grey darken-3">
                <div class="card-content grey-text text-lighten-2">
                    <span class="card-title">sml.name/{id}</span>
                    <p class="truncate">{url}</p>
                </div>
                <div class="card-action">
                    {if:valid}
                    <a class="light-blue-text text-lighten-2" href="/{id}"><i class="material-icons">link</i> Follow link</a>
                    {else}
                    <a class="red-text text-lighten-2"><i class="material-icons">close</i> {status}</a>
                    {endif}
                    <a class="light-green-text text-lighten-2" href="/link/{id}"><i class="material-icons">done</i> Status</a>
                </div>
            </div>
        </div>
        {endloop}
    </div>
</div>