<div class="section light-blue-text text-lighten-2">
    <h2>Shorten a link</h2>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 m12 l6">
                    <input class="grey-text" type="text" id="shorten" name="shorten">
                    <label for="shorten">Url</label>
                </div>
                <div class="input-field col s12 m4 l2">
                    <select class="grey-text" id="expiration" name="expiration">
                        <option value="24">24h</option>
                        <option value="48" selected>48h</option>
                        <option value="168">1 week</option>
                        <option value="336">2 weeks</option>
                        <option value="-1">No expiration</option>
                    </select>
                    <label for="expiration">Expiration</label>
                </div>
                <div class="input-field col s12 m4 l2">
                    <select class="grey-text" id="maxuses" name="maxuses">
                        <option value="1">1 click</option>
                        <option value="10">10 clicks</option>
                        <option value="50">50 clicks</option>
                        <option value="-1" selected>Unlimited clicks</option>
                    </select>
                    <label for="maxuses">Maximum clicks</label>
                </div>
                <div class="input-field col s12 m4 l2">
                    <select class="grey-text" id="length" name="length">
                        <option value="3">3 characters</option>
                        <option value="4">4 characters</option>
                        <option value="5" selected>5 characters</option>
                        <option value="6">6 characters</option>
                        <option value="7">7 characters</option>
                        <option value="8">8 characters</option>
                    </select>
                    <label for="length">Link length</label>
                </div>
            </div>
            <button type="submit" class="btn block">Create</button>
        </form>
    </div>
</div>
{if:error}
<p class="flow-text center red-text text-lighten-2">{error}</p>
{endif}